body{
	background:fixed;
	opacity:
}


/*For form*/
.main{
	border-radius:5px;
	background-color:#f2f2f2;
	padding:20px;
	width:500px;
	margin:0 auto;	
}
.homeWrk{
	width:50%;
	margin:0 auto;
	
}
.btn {
	width:100%;
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin: 8px 0px;
	border:none;
	border-radius:4px;
	cursor:pointer;
	font-size:20px
	
}
.btn:hover{
	background-color: #45a049;
}















